.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  min-width: 400px;
  max-width: 800px;
  height: fit-content;
  margin: 10rem auto;
  flex-basis: 0;
  flex-grow: 1;
}

.modal-header {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.modal-header div {
  display: flex;
}

.modal-body {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: -webkit-fill-available;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e9ecef;
  align-items: center;
  justify-content: flex-end;
  width: -webkit-fill-available;
  padding: 1rem;
}

#close-modal-btn {
  cursor: pointer;
}
