.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

h1,
ol {
  display: flex;
  flex-direction: column;
  user-select: none;
}

h1 {
  align-self: center;
}

li:hover {
  background-color: #f9f9f9;
}

.note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-note-container {
  width: 100%;
}
.edit-note-title,
.edit-note-tasks {
  margin-bottom: 1rem;
  display: flex;
}

.add-note-btn {
  align-self: center;
}

.edit-note-title,
.edit-note-title input {
  display: flex;
  flex-grow: 100;
  line-height: 100%;
}

.edit-note-title span,
.edit-note-tasks span {
  display: flex;
  margin-right: 5px;
  flex-grow: 9;
  flex-basis: 3rem;
}

.edit-note-tasks div:not(.btn) {
  display: flex;
  flex-direction: column;
  flex-grow: 101;
}

.modal-body .edit-note-container div.edit-note-task-row {
  flex-direction: row;
  margin-bottom: 8px;
}
.edit-note-task-row input {
  display: flex;
  flex-grow: 1;
}

.edit-note-task-row input[type="checkbox"] {
  flex-grow: 0;
}

.btn {
  margin-left: 5px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: fit-content;
  min-width: 100px;
}

.add-task-btn {
  align-self: center;
  font-size: 15px;
  padding: 5px;
  line-height: 100%;
}

.delete-task-btn {
  line-height: 100%;
  font-size: 15px;
  padding: 2px;
}

ul {
  list-style: none;
}

.task-done {
  text-decoration: line-through;
}

.success-btn {
  background-color: #28a745;
  border-color: #28a745;
}

.delete-btn {
  background-color: #dc3545;
  border-color: #dc3545;
}

.primary-btn {
  background-color: #007bff;
  border-color: #007bff;
}

.cancel-btn {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.success-btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.cancel-btn:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.delete-btn:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.primary-btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.alert-box{
  background-color: #dc3545;
  width: fit-content;
  color: white;
  padding: 10px;
  border-radius: 0.3rem;
  position: fixed;
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
